/* Reset default margins and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif; 
    /*background-color: #121212; /* Dark theme background */ 
    color: silver;
}

body {
    background-image: url('../images/background_witcher.webp'); /* Putanja do slike */
    background-size: cover; /* Slika će se prilagoditi kako bi pokrila cijelu pozadinu */
    background-position: center; /* Centriranje slike */
    background-repeat: no-repeat; /* Sprječava ponavljanje slike */
    background-attachment: fixed; /* Slika ostaje fiksirana pri skrolanju */
}

/* NAVIGATION PART */
.container_nav {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    margin-right: 21%;
}

nav {
    background-color: #222222;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
    position: fixed;
    top: 0;
    display: flex; 
    justify-content: center;
    border: 2px solid black;
}

/* Clearfix so background works on ul element */
ul::after { 
    content: ""; 
    display: table; 
    clear: both; 
}

nav li {
    border-right: 1px solid black;
}

nav li a {
    display: block;
    padding: 8px 29.1px;
    color: silver;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
}

li a:hover {
    background-color: #111;
}

#buy_now {
    background-color: #e28743;
    border-right: none;
}

#buy_now a {
    color: white;
}

/* MAIN PART */
.container {
    width: 62%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e;
}

#intro {
    text-align: center;
}

#witcher_logo img {
    width: 300px;
    display: block;
    margin: 10px auto;
}

#home_buttons {
    text-align: center;
    margin-top: 20px;
}

#home_buttons button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #d4a132;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

#home_buttons a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#home_buttons button:hover {
    background-color: #e28743;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#welcome_part {
    padding: 60px 20px;
    text-align: center;
}

#welcome_part h1 {
    margin-bottom: 20px;
}

#welcome_part p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.quotes ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin-left: 25px;
    max-width: 800px;
}

.quotes ul li {
    margin: 10px 0;
    font-style: italic;
}

#games_list {
    padding: 60px 20px;
    text-align: center;
}

#games_list h1 {
    margin-bottom: 20px;
}

#game_pictures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow wrapping if there are more images */
    gap: 20px; /* Add gap between images */
}

#game_pictures img {
    width: 300px; /* Adjust the width of the images */
    height: auto; /* Maintain aspect ratio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
    border: 4px solid black;
}

/* FOOTER PART */
footer {
    text-align: center;
    padding: 10px;
    background-color: black;
}

footer p {
    margin: 0 auto;
    max-width: 650px;
    color: white;
    font-size: 15px;
}

#homepage_logos {
    margin-top: 10px;
}

#homepage_logos a {
    margin: 0 10px;
}

#homepage_logos img {
    vertical-align: middle;
}